<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:type" content="article" />
	<meta property="og:site_name" content="Articles" />
	<meta property="og:title" content="{{meta_tags['title']}}" />
	<meta property="og:description" content="{{meta_tags['description']}}" />
	<meta property="og:url" content="{{meta_tags['url']}}" />
	<!-- <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" /> -->
	<link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body>
	<div id="context-menu" class="invisible">
		<div id="undo" class="context-menu-item">
			Undo
			<span class="keybind">Ctrl+Z</span>
		</div>
		<div id="redo" class="context-menu-item">
			Redo
			<span class="keybind">Ctrl+Y</span>
		</div>
		<hr>
		<div id="copy" class="context-menu-item">
			Copy
			<span class="keybind">Ctrl+C</span>
		</div>
		<div id="cut" class="context-menu-item">
			Cut
			<span class="keybind">Ctrl+X</span>
		</div>
		<div id="paste" class="context-menu-item">
			Paste
			<span class="keybind">Ctrl+V</span>
		</div>
		<hr>
		<div id="bold" class="context-menu-item">
			<b>Bold</b>
			<span class="keybind">Ctrl+B</span>
		</div>
		<div id="italic" class="context-menu-item">
			<i>Italic</i>
			<span class="keybind">Ctrl+I</span>
		</div>
		<div id="strike" class="context-menu-item">
			<strike>Strikethrough</strike>
		</div>
		<div id="underlined" class="context-menu-item">
			<span class="underlined">Underlined</span>
			<span class="keybind">Ctrl+U</span>
		</div>
	</div>
	<main>
		<article>
			<div id="cursor" class="transparent"></div>
			<div id="content-wrapper" contenteditable="true" spellcheck="false"><h1 id="title" class="" data-placeholder="Title" data-font="600 1.8em OpenSans Bold"><span class="text-content"></span><br></h1><p id="author" class="" data-placeholder="Author's name" data-font="15px OpenSans"><span class="text-content"></span><br></p><p class="" data-placeholder="Article..."><span class="text-content"></span><br></p></div>
			<textarea autocomplete="off"></textarea>
		</article>
		<div id="button-wrapper">
			<button class="button" style="display: none;">publish</button>
		</div>
	</main>
	<script src="/static/js/diff.js"></script>
	<script src="/static/js/undoredo.js"></script>
	<script src="/static/js/formatting.js"></script>
	<script src="/static/js/index.js"></script>
</body>
</html>